<div class="mainContainer" id="outfits">

    <h2>Recommended Outfits</h2>

      <div class="list">
        <div class="listContainer">
          Outfit 1
           <br />
        {{Customize.gender}}  
         <br />
          {{Customize.season}}
        </div>

        <div class="listContainer">
          Outfit 2
           <br />
            <br />
          {{season}} and {{gender}}
        </div>

        <div class="listContainer">
          Outfit 3
          <br />
           {{product_name}}
           <br />
           Price: {{price}}
        </div>
      </div>
      
  </div>


  </div>
</div>
<br />